* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boton {
    margin: 10px;
}

.lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

#btn-switch:checked + .lbl-switch {
    background: #61A0FF;
}

.lbl-switch:after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;
}

#btn-switch:checked + .lbl-switch:after {
    left: 28px;
}

#btn-switch {
    display: none;
}





